  <%=form_with(model:@group,local:true) do |f|%>
  <div class="input_container">
    <%= f.object.errors.full_messages.join(", ") if f.object.errors.any? %>

    <%=f.text_field :name,required:true,autofocus:true,placeholder:"Name of the group",class:"input_area"%>

    <%= f.file_field :icon %>
    <%=f.submit "Save",class:"input_button"%>
  <%end%>

</div>

<%= link_to 'Back To Groups', groups_path, class:'create_button', id:'return' %>
