<% flash.each do |type, msg| %>
  <div class='alert'>
    <%= msg %>
  </div>
<% end %>
<h1 class="title_two" id="top_title"> Available Groups </h1>
<div class='information_area'>
  <%= link_to 'Create New Group', new_group_path, class:'create_button', id:'option_link' %>
  <div class="items_area">
    <%@group.each do |g|%>
      <div class="item_container">
        <%= icon(g)%>
        <h2><%=link_to g.name, group_path(g)%></h2>
        <div class="item_info"> 
          <%= link_to group_path(g) do%>
            <p><%= routine_check(g)%></p>        
          <%end%>
      </div>        
    </div>
    
    <% g.routines.last do |f|%>
      <% if !f.nil? %>
        <p>Last Activity </p>
        <p><%=g.name%></p>
        <p>By <%=f.name%></p>
        <p>During</p>
        <p><%=f.hours %> Hours </p>
        <%= Group.find_by(params[:group_id]).id %>
      <%end%>
    <%end%>
  <%end%>  
</div>    
   
  <h2 class="title_two">Track an activity without a group</h2>

  <%= render 'routines' %>

  <h1 class="title_two"> Last Registred Activities </h1>
  <div class="user_routines">
    <div class="routine_container_one">
      <p>User</p>
      <p>Group</p>
      <p>Activity</p>
      <p>Hours</p>
    </div>

    <div class="routine_container" id="all_routines">

      <% @routine.reverse.each do |f|%>
          <p class="routine_item"><%= @user.find_by(id: f.user_id).name%></p> 
          <p class="routine_item"> <%= group_name(f)%></p>
          <p class="routine_item"><%= f.name%></p>
          <p class="routine_item"><%= f.hours%></p>        
      <%end%>
    </div>
  </div>
</div>

