<div class="information_area">
  <div class="items_area">
    <div class="item_container" id="item_show">   
      <%= image_tag @group.icon,class:"item_icon", onerror:"this.error=null;this.src='https://placeimg.com/50/50/tech'"%>
      <h1 class="item_tittle"><%= @group.name %></h1>
      <p class="item_text"> Total Hours</p>
      <p class="item_text"><%= total_hours_group %></p>
    </div>
  </div>
  <div class="item_container" id="smallHourContainer">
    <p class="item_text"> Total Hours</p>
    <p class="item_text"><%= total_hours_group %></p>
  </div>
  <div class="user_routines">
    <div class="routine_container_one">
      <p>User</p>
      <p>Activity</p>
      <p>Hours</p>
    </div>

    <div class="routine_container">

      <% @group.routines.reverse.each do |f|%>
        <% if f.id %>     
          <p class="routine_item"><%= f.user.name%></p>
          <p class="routine_item"><%= f.name%></p>
          <p class="routine_item"><%= f.hours%></p>
        <% end %>
      <%end%>
    </div>
  </div>
</div>