<!DOCTYPE html>
<html>
  <head>
    <title>Activity Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" %>
    <meta name="description" content="Activity Tracker" />
    <meta name="title" property="og:title" content="Activiy Tracker" />
    <meta property="og:type" content="Rails App" />
    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51100083991_330be08348.jpg" />
    <meta name="description" property="og:description" content="_" /><meta name="author" content="This project is a simple app built using basic Ruby on Rails functionalities in this app you can create an account, and when logged in, you will be able to  build groups and routines and keep track of them." />
  </head>

  <body>  
  <%=render "shared/errors" %>
  <nav class="ham">
  <label for="hamburger">&#9776;</label>
  <input type="checkbox" id="hamburger"/>
      <div class="home_container">
        <%= logged_in?%>
      </div>
  </nav>

    <%= yield %>
  </body>
</html>